# PostgreSQL
POSTGRES_PASSWORD=Contraseña
DB_HOST=Host
DB_PORT=Puerto
DB_NAME=Nombre_Base_De_Datos
DB_USER=User
DB_PASSWORD=DB_Contraseña

# Redis
REDIS_URL=Redis_URL

# API
PORT=API_Port

# Frontend
NEXT_PUBLIC_API_URL=Front_URL
